doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title=title 
body
    h1=title
    p Here is my server for media REST API
    p=message
    img(src="./media/ffd8.jpg", alt="")
